button{
    background-color: yellow;
    color: blue;
    border-radius: 5000px;
    font-size: 30px;
}
img{
padding-left: 300px;
}
body{
    background-color: black;
}
#lamp{
  cursor: pointer;
  cursor: hand;
}
img{
    width: 400px;
    height: 500px;
}




body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}
